@import "variables";
@import "mixins";
body{
  background-color: var(--bg-body);
}

.main-content__global {
  overflow: hidden;
  background-color:var(--bg-body);
  max-width: 1600px;
  margin: auto;
}
.navbar{
  background-color:var(--primary-color);
  padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-brand {
  margin-right: 0;
  @include respond-to(xs) {
    width: 100px;
  }
  @include respond-to(sm) {
    width: 180px;
  }

  img {
    width: 150px;

    @include respond-to(xs) {
      width: 100%;
    }
    @include respond-to(sm) {
      width: 100%;
    }
    @include respond-to(md) {
      width: 100%;
    }
    @include respond-to(lg) {
      width: 125px;
    }
  }
}

.navbar-search {
  
  i {
    color: $white
  }
}

.navbar-toggler {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0;
  }
}

.nav-item {
  @include respond-to(xs) {
    padding-bottom: 1.5rem;
  }

  @include respond-to(sm) {
    padding-bottom: 1.5rem;
  }
  @include respond-to(md) {
    padding-bottom: 1.5rem;
  }
  &:nth-child(1) {
    @include respond-to(xs) {
      padding-top: 1rem;
    }
  }
  .nav-link{
    color: #fff;
    font-family: $fontGotham;
    font-weight: $light;
    font-size: 18px;
    padding: 0 1.3rem !important;
    position: relative;

    @include respond-to(xs) {
      padding: 0rem  !important;
    }
    
    @include respond-to(sm) {
      padding: 0rem  !important;
    }
    @include respond-to(md) {
      padding: 0rem  !important;
    }
    @include respond-to(lg) {
      padding: 0.6rem !important;
    }
    &:after{
      @include pseudo();
      width: 100%;
      height: 5px;
      background-color: transparent;
      bottom: -1.8rem;
      left: 0;
      transition: 0.3s ease-in-out;
    }
  
    &.active{
      
      &:after{
        @include pseudo();
        width: 100%;
        height: 5px;
        background-color: #fff;
        bottom: -1.8rem;
        left: 0;

        @include respond-to(xs) {
          bottom: -.9rem;
        }
        @include respond-to(sm) {
          bottom: -.8rem;
        }
        @include respond-to(md) {
          bottom: -.8rem;
        }
      }
    }
    &:hover{
      color: #fff;
      &:after{
        @include pseudo();
        width: 100%;
        height: 5px;
        background-color: #fff;
        bottom: -1.8rem;
        left: 0;
        transition: 0.3s ease-in-out;
        @include respond-to(xs) {
          bottom: -.9rem;
        }
      }
    }
  }
}

.main-socialmedia{
  position: fixed;
  content: '';
  top: 30%;
  background-color: #4a545b;
  width: 60px;
  .main-socialmedia__content{
    ul{
      list-style: none;
      padding-left: 10px;
      margin-bottom: 0;
      margin-top: .5rem;
     
      li{
        border-radius: 50%;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .9rem;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #37424a;
          transition: 0.3s ease-in-out;
        }
        i{
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 26px;
}

.theme-switch input {
  display:none;
}

.slider {
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  font-family: 'FontAwesome';
  bottom: 0px;
  content: "\f042";
  height: 26px;
  left: 5px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider:before {
  color: $white;
}

.main-down {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translate(-50%);

  @include respond-to(xs) {
    display: none;
  }

  @include respond-to(sm) {
    display: none;
  }

  .main-down__scroll{
    border: 5px solid #fff;
    border-radius: 20px;
    width: 30px;
    height: 45px;
    padding: 5px;
    margin-left: 3%;
    transform: translateX(-50%);
  
    .main-down__rond{
      height: 10px;
      width: 5px;
      border-radius: 5px;
      background-color: #fff;
      margin: 0 auto;
      animation: animateD 1.5s infinite;
    }
  
  }
}

/* Animate Down */

@keyframes animateD {
  0%
  { 
      margin-top: 0px;
      opacity: 0;
  }
  100%
  { 
      margin-top: 15px;
      opacity: 1;
  }
}

.btn-custom {
  background-color: var(--primary-color);
  color: var(--text-colorbtnbanner);
  display: inline-block;
  font-size: 17px;
  font-weight: $bold;
  padding: 12px 24px;
  box-shadow: 0px 8px 10px 0px rgba(var(--primary-color), 0.3);
  transition: all ease-in-out 0.3s;
  text-decoration: none;

  @include respond-to(xs) {
    font-size: 15px;
    padding: 10px 20px;
  }

  @include respond-to(md) {
    font-size: 16px;
    padding: 10px 20px;
  }

  &[type="submit"] {
    border: 0;
    cursor: pointer;
  }

  &:hover {
    color: var(--text-colorbtnbanner);
    text-decoration: none;
  }

  &.btn-form {
    padding: 12px 60px;
    background-color: var(--bg-form);
    color: var(--text-form);
    border: 1px solid var(--bg-border-form);

    @include respond-to(md) {
      padding: 10px 20px;
    }
  }
  &.light-shadow {
    box-shadow: 0px 12px 31px 0px rgba(var(--text-colorbtn), 0.25);
  }

  &.secondary {
    background-color: var(--secondary-color);
    box-shadow: 0px 8px 10px 0px rgba(var(--secondary-color), 0.3);

    &.light-shadow {
      box-shadow: 0px 12px 31px 0px rgba(var(--secondary-color), 0.25);
    }
  }

  &.outline {
    background-color: transparent;
    color: var(--text-colorbtn);
    font-size: 18px;
    padding: 12px 0px;

    @include respond-to(xs) {
      font-size: 15px;
      padding: 10px 0px;
    }
  

    &.outline-dark{
      background-color: transparent;
      color: var(--text-colorbtnout);
      font-size: 18px;

      @include respond-to(xs) {
        font-size: 15px;
        padding: 10px 0px;
      }

      &:hover {
        background-color: transparent;
        color: var(--text-colorbtnout);
        opacity: 0.5;
        transition: all ease-in-out 0.3s;
      }
    }

    &.outline-bluedark  {
      
      background-color: transparent;
      color: var(--text-card-permalink);
      font-size: 18px;

      @include respond-to(xs) {
        font-size: 15px;
        padding: 10px 0px;
      }

      &:hover {
        background-color: transparent;
        color: var(--text-card-permalink);
        opacity: 0.5;
        transition: all ease-in-out 0.3s;
      }
    }

    &:hover {
      background-color: transparent;
      color: var(--text-colorbtn);
      opacity: 0.5;
      transition: all ease-in-out 0.3s;
    }

    &.underline-red {
      font-weight: 300;
      text-decoration: underline;
      padding: 0;
    }
  }

  &.outline-secondary {
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 18px;

    @include respond-to(xs) {
      font-size: 15px;
      padding: 10px 0px;
    }

    &:hover {
      background-color: var(--secondary-color);
      color: transparent;
      transition: all ease-in-out 0.3s;
    }
  }

  &.extralarge {
    padding: 20px 50px;
  }

  &.large {
    padding: 16px 26px;
  }

  &.small {
    font-size: 13px;
  }

  &.no-shadow {
    box-shadow: none;
  }
}

.main-form {
  background-color: var(--bg-forms);
  padding: 2rem 4rem;
  position: relative;
  display: flex;
  align-items: center;

  @include respond-to(xs) {
    padding: 3rem 2rem 2rem 2rem;
  }

  @include respond-to(sm) {
    padding: 3rem 2rem 2rem 2rem;
  }

  @include respond-to(lg) {
    padding: 2rem;
  }
  &:before {
    top: 0;
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    left: -.5rem;
    border-top: solid 30px $white;
    border-left: solid 30px $white;
    border-right: solid 30px transparent;
    border-bottom: solid 30px transparent;
  }
  .main-form__content {
    width: 100%;

    .main-form__title {
      color: $white;
    }
  
    .main-form__img {
      width: 20px;
      margin-right: .5rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .form-label {
    color: $white;
    display: flex;
    align-items: center;
  }

  .form-control,.form-select{
    border-bottom: 1px solid$white !important;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    color: $white;
    padding: .375rem 0;

    &::placeholder {
      color: var(--text-placeholder);
    }


  }
  .form-select {
    color: var(--text-placeholder) !important;
  }
}


/* Btn search navbar */
@mixin scaledown {
  -webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

@mixin scaleup {
  -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}


body.search-open {
	overflow: hidden;	
}

.close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: none;
	border: 0;
	font-size: 1rem;
	font-weight: 700;
	display: block;
	cursor: pointer;
	color: black;
  padding: 1rem 1.25rem;
	background: white;
  outline: none;
  
  &:hover {
    background: $red;
  }
}

.search-box.search-elem {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: transparentize($black, .1);
	transition: all .3s  ease-in-out;
	@include scaledown;

	.inner {
		width: 70%;
		margin: 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

    @include respond-to(xs){
      width: 90%;
    }
	}

	label {
		color: white;
		font-weight: 300;
		font-family: $fontGotham;
	}

	button.submit {
		outline: none;
	  position: absolute;
	  top: 0;
	  right: 15px;
	  height: 70px;
    padding: 10px 2rem;
	  background: $green;
	  font-family: $fontGotham;
	  font-size: 1rem;
	  color: white;

	    &[disabled] {
	    	background: #ccc;
	    	color: $purple;
	    }
	}

	input[type="text"] {
    padding: 10px;
    height: 50px;
    font-size: 25px;
    font-family: "Gotham", sans-serif;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px #999;
    transition: border 0.3s;
    border-radius: 0;
    width: 90%;

    @include respond-to(xs) {
      width: 75%;
      height: 42px;
    }

    @include respond-to(sm) {
      width: 75%;
      height: 42px;
    }

		&:focus {
			border-bottom: solid 2px $green;
      box-shadow: none;
		}
	}

	label.placeholder {
		position: absolute;
		top: 10px;
		left: 2rem;
		font-size: 25px;
		font-weight: 300;
		font-family: $fontGotham;
		color: $gray;
		transition: all .3s;

    @include respond-to(xs) {
      font-size: 18px;
    }

    @include respond-to(sm) {
      font-size: 20px;
    }

		&.move-up {
			top: -25px;
			color: white;
			font-size: 1rem;

      @include respond-to(xs) {
        top: -30px;
        color: white;
        font-size: 18px;
        left: 15px;
      }
      @include respond-to(sm) {
        top: -30px;
        color: white;
        font-size: 18px;
        left: 15px;
      }
		}
	}
}

.search-box.search-elem.search-open {
	@include scaleup;
}

.search-btn {
	text-transform: uppercase;
	font-family: $fontGotham;
	font-size: 0.875rem;
	padding: 0 10px;
  display: inline-block;

	&:hover {
		color: #00A896;
	}
}