@import "variables";
@import "mixins";


/* Meeting - About */
.main-meetingabout__content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--primary-color);

  .main-meetingabout__item {

    &:nth-child(1) {
      width: 80%;
      padding: 3rem 0rem 2rem 6rem;
    }
    &:nth-child(2) {
      background-color: var(--bg-meetingabout);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        top: 0;
        position: absolute;
        content: "";
        width: 150px;
        height: 150px;
        left: -10rem;
        border-top: solid 85px var(--bg-meetingabout);
        border-right: solid 85px var(--bg-meetingabout);
        border-left: solid 85px transparent;
        border-bottom: solid 85px transparent;
      }
      &:after {
        bottom: 0;
        position: absolute;
        content: "";
        width:150px;
        height: 150px;
        left: -10rem;
        border-bottom: solid 85px var(--bg-meetingabout);
        border-right: solid 85px var(--bg-meetingabout);
        border-left: solid 85px transparent;
        border-top: solid 85px transparent;
        z-index: 0;
        
      }
    }
  }
}


.main-meetingabout__title{
  h1 {
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    font-family: "Gotham", sans-serif;
  }
}

.main-meetingabout__description {
  p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.6;
    color: $white;
  }

  span {
    i {
      color: #fff;
      font-size: 50px;
    }
  }
}


/* Meeting - Target */
.main-meetingtarget__content {
  margin-top: 2rem;
  
  .main-meetingtarget__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
  
    .main-meetingtarget__img {
      display: flex;
      align-items: center;
      padding: 2rem 0 2rem 2rem;
      position: relative;
      img{
        position: absolute;
      }
    }
    .main-meetingtarget__text {
      background-color: var(--bg-color);
      padding: 4rem 6rem;
    }

  }
  .slick-dots{
    bottom: 5rem;
    display: flex;
    justify-content: center;
    li {
      height: 8px;
      width: 15px;
      margin-right: 1rem;
      button{
        height: 8px;
        width: 8px;
        background: var(--text-colordark);
        opacity: .5;
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        &:before{
          width: 8px;
          height: 8px;
          line-height: 8px;
          content: '';
        }
      }
      &.slick-active{
        button{
          width: 30px;
          opacity: 1;
          transition: 0.3s ease-in-out;
         
        }
      }

      
    }
  }
  
}

/* Meeting - programs */

.main-meetingprograms {
  padding: 0;
  margin-top: 2rem;
  background-color: var(--bg-meetingabout);

  .main-meetingprograms__item {
    &:nth-child(1){
      padding: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    .main-meetingprograms__img{
      width: 400px;
    }
  }

}

.main-cardprogram {
  background-color: var(--homefeatured-bg-card);
  padding: 2rem;

  &:nth-child(1) {
    margin-top: -1rem;
  }
  &:nth-child(2) {
    margin-top: 2.5rem;
    margin-left: 2rem;
  }

  .main-cardprogram__text {
    h1,h2,h3 {
      font-size: 26px;
      font-family: $fontGotham;
      font-weight: 300;
      color: var(--text-colordark);
      margin: 1.5rem 0;
      color: var(--text-color)
    }
    ul {
      list-style: none;
      margin-top: 1rem;

      li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 1rem;
        font-family: $fontGotham;
        font-weight: 300;
        position: relative;
        color: var(--text-color);

        &:before {
          position: absolute;
          content: "ï„…";
          font-family: "FontAwesome";
          color: var(--text-colordark);
          margin-right: 1rem;
          left: -1.5rem;
          font-size: 29px;
          top: -.6rem;
        }
      }

    }
  }
}



/* Mini banners */

.mini-banner__content {
  background-color: var(--homefeatured-item1);

  .mini-banner__grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
}
.mini-banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0rem 8rem 8rem;

  position: relative;
  &:before{
    top: 0;
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    right: -19rem;
    border-top: solid 160px var(--homefeatured-item1);
    border-left: solid 160px var(--homefeatured-item1);
    border-right: solid 160px transparent;
    border-bottom: solid 160px transparent;
  }
  &:after {
    bottom: 0;
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    right: -19rem;
    border-bottom: solid 160px var(--homefeatured-item1);
    border-left: solid 160px var(--homefeatured-item1);
    border-right: solid 160px transparent;
    border-top: solid 160px transparent;
    z-index: 0;
    
  }
}

.main-tabs{
  padding: 0;
}
.main-tabs__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 3rem;
  padding: 6rem;
  .main-cardtabs{
    background-color: var(--homefeatured-item1);
    position: relative;
    padding: 3rem;
    z-index: 1;
    &:before{
      top: 0;
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      right: 0;
      border-top: solid 160px var(--homefeatured-item2);
      border-right: solid 160px var(--homefeatured-item2);
      border-left: solid 160px transparent;
      border-bottom: solid 160px transparent;
      z-index: -1;
    }
    &:after {
      bottom: 0;
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      right: 0;
      border-bottom: solid 160px var(--homefeatured-item2);
      border-right: solid 160px var(--homefeatured-item2);
      border-left: solid 160px transparent;
      border-top: solid 160px transparent;
      z-index: -1;
      
    }
  }
}

.main-tabs__primary {
  border-bottom: 4px solid #eaeaea;

  .nav-pills {
    padding: 4rem 6rem 0 6rem;
    margin-bottom: 0 !important;
    .nav-item {
      padding: .5rem;
      .nav-link {
        border: none;
        background: transparent;
        color: var(--text-titlecard);
        &.active {
          color: var(--text-colorbtn);
          position: relative;
          &:after{
            content: '';
            position: absolute;
            bottom: -.7rem;
            width: 100%;
            height: 4px;
            background-color: var(--text-colorbtn);
          }
        }
        &:after{
          content: '';
          position: absolute;
          bottom: -.7rem;
          width: 100%;
          height: 4px;
          background-color: transparent;
        }
        &:before{
          content: "";
          position: absolute;
          right: 0;
          top: 20%;
          width: 2px;
          height: 15px;
          background-color: #eaeaea;
        }

       
        &:focus {
          outline: none;
        }
      }
      &:last-child{
        .nav-link {
          &:before{
            content: "";
            position: absolute;
            right: 0;
            top: 20%;
            width: 2px;
            height: 15px;
            background-color: transparent;
          }
        }
      }
      .show {
        .nav-link {
          border: none;
          background: transparent;
          color: #37424a;
        }
      }
    }
    
  }
}