@import "variables";
@import "mixins";


/* View - Streaming */
.main-records {
  margin-top: 2rem;

  @include respond-to(lg) {
    margin-top: 0;
  }

  .main-records__content {
    background-color: var(--homefeatured-item1);
    @include respond-to(xs) {
      position: relative;
      z-index: 0;
    }

    @include respond-to(sm) {
      position: relative;
      z-index: 0; 
    }

    &:before{
      top: 0;
      position: absolute;
      content: "";
      width: 150px;
      height: 150px;
      right:0rem;
      z-index: -1;
      border-top: solid 130px var(--homefeatured-item2);
      border-right: solid 130px var(--homefeatured-item2);
      border-left: solid 130px transparent;
      border-bottom: solid 130px transparent;
      display: none;
      @include respond-to(xs) {
       display: block;
      }
      @include respond-to(sm) {
        display: block;
      }
    }
    &:after {
      bottom: 0;
      position: absolute;
      content: "";
      width:150px;
      height: 150px;
      right:0rem;
      z-index: -1;
      border-bottom: solid 130px var(--homefeatured-item2);
      border-right: solid 130px var(--homefeatured-item2);
      border-left: solid 130px transparent;
      border-top: solid 130px transparent;
      @include respond-to(xs) {
        display: block;
      }
      @include respond-to(sm) {
        display: block;
      }
      
    }
    .main-records__item {
      &:nth-child(1) {
        padding: 3rem 6rem;
        @include respond-to(xs) {
          padding: 3rem 2rem 0 2rem;
        }
        @include respond-to(sm) {
          padding: 3rem 2rem 0 2rem;
        }
        @include respond-to(md) {
          padding: 3rem 2rem;
        }
        @include respond-to(lg) {
          padding: 3rem 2rem;
        }
        
      }
      &:nth-child(2) {
        background-color: var(--homefeatured-item2);
        position: relative;
        padding: 5rem 3rem 3rem 3rem;

        @include respond-to(xs) {
          padding: 0rem 2rem 2rem 2rem;
          background-color: transparent;
        }
        @include respond-to(sm) {
          padding: 0rem 2rem 2rem 2rem;
          background-color: transparent;
        }
        &:before{
          top: 0;
          position: absolute;
          content: "";
          width: 100px;
          height: 100px;
          left: -9rem;
          border-top: solid 75px  var(--homefeatured-item2);
          border-right: solid 75px  var(--homefeatured-item2);
          border-left: solid 75px transparent;
          border-bottom: solid 75px transparent;

          @include respond-to(xs) {
            display: none;
          }
          @include respond-to(sm) {
            display: none;
          }
          @include respond-to(md) {
            left: -8rem;
          }
        }
        &:after {
          bottom: 0;
          position: absolute;
          content: "";
          width: 100px;
          height: 100px;
          left: -9rem;
          border-bottom: solid 75px  var(--homefeatured-item2);
          border-right: solid 75px  var(--homefeatured-item2);
          border-left: solid 75px transparent;
          border-top: solid 75px transparent;
          z-index: 0;

          @include respond-to(xs) {
            display: none;
          }
          @include respond-to(sm) {
            display: none;
          }
          @include respond-to(md) {
            left: -8rem;
          }
          
        }
      }
    }
  }
}

.main-recordscard {
  ul {
    list-style: none;
    padding-left: 0;
    li{
      span {
        line-height: 1.2;
        color: var(--text-titlecard);
        font-family: "Gotham", sans-serif;
        font-weight: $light;
        font-size: 18px;
      }
    }
  }
}


.main-speakers {

  @include respond-to(xs) {
    flex-direction: column;
  }
  .main-speakers__title {
    strong {
      line-height: 1.2;
      color: var(--text-titlecard);
      font-family: "Gotham", sans-serif;
      font-size: 18px;
    }
    
  }

  .main-speakers__description {
    ul {
      li {
        position: relative;
        list-style: none;
        margin-bottom: .5rem;
        line-height: 1.2;
        color: var(--text-titlecard);
        font-family: "Gotham", sans-serif;
        font-weight: $light;
        font-size: 18px;
        &::before {
          position: absolute;
          content: "ï„…";
          font-family: "FontAwesome";
          color: var(--text-colordark);
          margin-right: 1rem;
          left: -1rem;
          font-size: 23px;
          top: -0.4rem;
        }
      }
    }
  }
}

.main-docs {
  background-color: var(--homefeatured-item2);
  padding: 2rem 0 0rem 4rem;
  @include respond-to(xs) {
    padding: 2rem 1rem 0rem 1rem;
  }
  @include respond-to(sm) {
    padding: 2rem 1rem 0rem 1rem;
  }
  @include respond-to(md) {
    padding: 0rem 0 0rem 2rem;
  }
  @include respond-to(lg) {
    padding: 2rem 0 0rem 2rem;
  }
  
}
.main-carddocs {

  @include respond-to(xs) {
    flex-direction: column;
  }
  @include respond-to(sm) {
    flex-direction: column;
  }
  &.main-carddocs__flex {
    display: flex;
    align-items: unset;
    border: 2px solid var(--text-colordark);
    height: 200px;
    padding: 2rem;
    @include respond-to(xs) {
      height: auto;
    }
    @include respond-to(sm) {
      height: auto;
    }
    @include respond-to(md) {
      height: 250px;
    }
    @include respond-to(lg) {
      height: 250px;
    }
    .main-carddocs__img {
      width: 140px;
      margin-right: 1rem;
    }
  }

  .main-carddocs__img {
    width: 90px;
    margin-bottom: 1rem;
  }
  .main-carddocs__title {
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-family: "Gotham", sans-serif;
  }

  .main-carddocs__description {
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 1.6;
      color: var(--text-colorlight);
      font-family: "Gotham", sans-serif;
    }
  }
}

.main-participated {
  @include respond-to(xs){
    padding: 0;
  }
  @include respond-to(sm){
    padding: 0;
  }
}
.main-participated__text {
  padding: 4rem 4rem 4rem 0;

  @include respond-to(xs){
    padding: 2rem 2rem 0 2rem;
  }
}

.main-participated__row {
  .col-12 {
    @include respond-to(xs) {
      padding: 0;
    }
    @include respond-to(sm) {
      padding: 0;
    }
  }
}

.main-navigation__visible {
  display: none;
  @include respond-to(xs) {
    display: flex;
    justify-content: center;
  }
  @include respond-to(sm) {
    display: flex;
    justify-content: center;
  }

  #select-box {
    padding: .5rem 1rem;
  }
}